# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!Release/*.exe
!Release/*.dll
*.out
*.app

/Debug
*.exp
*.pdb
*.lib
*/Debug/
*/Release/
*/SOCKET_Debug/
*/SOCKET_Release/
*/Win32/
*/x64/
*.rar
/.vs/
/x64
*/obj/
/wxRobot/bin/Debug/
/wxRobot/bin/Release/*.pdb
*/__pycache__/
packages
mongoose.c
mongoose.h

# VSCode
.vscode
# JetBrians IDE
.idea
